[submodule "github-mcp-server"]
	path = github-mcp-server
	url = https://github.com/DeanLuus22021994/github-mcp-server.git
	branch = main

[submodule "starter-workflows"]
	path = starter-workflows
	url = https://github.com/DeanLuus22021994/starter-workflows.git
	branch = main

[submodule "runner-images"]
	path = runner-images
	url = https://github.com/DeanLuus22021994/runner-images.git
	branch = main

