/* Code blocks */
.markdown pre {
	margin: 0.5rem 0;
	white-space: break-spaces;
}

.markdown code {
	padding: 0.2em 0.4em;
	border-radius: 4px;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 0.9em;
}

.markdown pre,
.markdown code {
	background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {

	.markdown pre,
	.markdown code {
		background-color: #333;
	}
}

.markdown pre:has(code) {
	padding: 1rem 0.5rem;
}

.markdown pre>code {
	padding: 0;
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-weight: 600;
	line-height: 1.2;
}

.markdown h1 {
	font-size: 2em;
	margin: 1rem 0;
}

.markdown h2 {
	font-size: 1.5em;
	margin: 0.83rem 0;
}

.markdown h3 {
	font-size: 1.25em;
	margin: 0.67rem 0;
}

.markdown h4 {
	font-size: 1em;
	margin: 0.5rem 0;
}

.markdown h5 {
	font-size: 0.875em;
	margin: 0.33rem 0;
}

.markdown h6 {
	font-size: 0.75em;
	margin: 0.25rem 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6:first-child {
	margin-top: 0;
}

/* Unordered List */
.markdown ul {
	list-style-type: disc;
	margin-left: 1.5rem;
}

/* Ordered List */
.markdown ol {
	list-style-type: decimal;
	margin-left: 1.5rem;
}

/* List Items */
.markdown li {
	margin: 0.25rem 0;
}

.markdown p:not(:first-child) {
	margin-top: 0.75rem;
}

.markdown p:not(:last-child) {
	margin-bottom: 0.75rem;
}

.markdown ul>li {
	margin-left: 1rem;
}

/* Table */
.markdown table,
.markdown th,
.markdown td {
	border: 1px solid lightgray;
	padding: 0.25rem;
}

@media (prefers-color-scheme: dark) {

	.markdown table,
	.markdown th,
	.markdown td {
		border: 1px solid #f2f2f2;
	}
}